<mat-spinner *ngIf="spin"></mat-spinner>
<div class="card m-3" *ngIf="!spin">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">SR. NO.</th>
            <th scope="col">LOAN ID</th>
            <th scope="col">LOAN AMOUNT</th>
            <th scope="col">START DATE</th>
            <th scope="col">End DATE</th>
            <th scope="col">LOAN DURATION (IN YEARS)</th>
            <th scope="col">PAYMENT INTERVAL</th>
            <th scope="col">PAYMENTA</th>
            <th scope="col">PAYMENT TERM</th>
            <th scope="col">INTEREST EXTIMATED</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let loan of loans; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ loan.loanId | uppercase}}</td>
            <td>{{ loan.loanAmount | number }}</td>
            <td>{{ loan.startDate }}</td>
            <td>{{ loan.endDate }}</td>
            <td>{{ loan.loanDuration | number }}</td>
            <td>{{ loan.paymentInterval }}</td>
            <td>{{ loan.payments | number }}</td>
            <td>{{ loan.paymentTerm }}</td>
            <td>{{ loan.interestExtimate | number }}</td>
            <td *ngIf="loan.payment"><span class="badge bg-success">Approved</span></td>
            <td *ngIf="loan.payment"><span class="badge bg-info">Waiting</span></td>
            <td *ngIf="!loan.payment">
              <button class="btn btn-primary mt-auto btn-sm" (click)=navigatePaymentSchedule(loan.loanId)>
                PAY
              </button>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
    </div>